<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-header (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-header>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>list</mat-icon>
        </button>
      </div>
      <div>Medical Appointment Booking</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation">
          <li [ngClass]="{'active': page === 'main'}"><a routerLink="/main">Main</a></li>
          <li [ngClass]="{'active': page === 'booking'}" *ngIf="loggedInUser"><a routerLink="/booking">Booking</a></li>
          <li [ngClass]="{'active': page === 'login'}" *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
          <li [ngClass]="{'active': page === 'login'}" *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
          <li [ngClass]="{'active': page === 'registration'}" *ngIf="!(loggedInUser)"><a routerLink="/registration">Registration</a></li>
          <li [ngClass]="{'active': page === 'user'}" *ngIf="loggedInUser"><a routerLink="/user">{{ username }}</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet/>

  </mat-sidenav-content>
</mat-sidenav-container>
